extends layout

block content
    form(id='form2' method='post' action='/create')
        label(for='Admin') Make this Admin?:
        select(name="Admin")
            option(value="yes") Yes
            option(value="no") No
        br
        label(for='name') Username: 
        input(type='text' name='username', required)
        br
        label(for='age') Age: 
        input(type='text' name='age', required)
        br
        label(for='age') Email: 
        input(type='text' name='email', required)
        br
        label(for='age') Password: 
        input(type='password' name='pass', required)
        br
        label(for='Q1') Favorite Music Genre?: 
        select(name='Q1', required)
            option(value='') Please Select
            option(value="1") Rap
            option(value="2") Pop
            option(value="3") Metal
            option(value="4") Other
        br
        label(for='Q2') Favorite Game Genre?: 
        select(name='Q2', required)
            option(value='') Please Select
            option(value="1") FPS
            option(value="2") RPG
            option(value="3") Racing/sports
            option(value="4") Fighting
        br
        label(for='Q3') Favorite Movie Genre?: 
        select(name='Q3', required)
            option(value='') Please Select
            option(value="1") Horror
            option(value="2") Romance
            option(value="3") Comedy
            option(value="4") Action-Pack
        br
        input(type='submit' value='Add Person')