extends layout

block content
    form(id='form2' method='post' action='/create')
        label(for='Admin') Make this Admin?:
        select(name="Admin")
            option(value="admin") Yes
            option(value="user") No
        br
        label(for='name') Username: 
        input(type='text' name='username', required)
        br
        label(for='age') Age: 
        input(type='number' name='age', required)
        br
        label(for='age') Email: 
        input(type='text' name='email', required)
        br
        label(for='age') Password: 
        input(type='password' name='pass', required)
        br
        label(for='Q1') Favorite Music Genre?: 
        select(name='Q1', required)
            option(value='') Please Select
            option(value="0") Rap
            option(value="1") Pop
            option(value="2") Metal
            option(value="3") Other
        br
        label(for='Q2') Favorite Game Genre?: 
        select(name='Q2', required)
            option(value='') Please Select
            option(value="0") FPS
            option(value="1") RPG
            option(value="2") Racing/sports
            option(value="3") Fighting
        br
        label(for='Q3') Favorite Movie Genre?: 
        select(name='Q3', required)
            option(value='') Please Select
            option(value="0") Horror
            option(value="1") Romance
            option(value="2") Comedy
            option(value="3") Action-Pack
        br
        input(type='submit' value='Add Person')