extends layout

block content
    h1=title
    h2 Welcome to the HomePage
    br
    canvas#Music(width='400' height='400') Favorite Music Genre
    br
    canvas#Game(width='400' height='400') Favorite Game Genre
    br
    canvas#Movie(width='400' height='400') Favorite Movie Genre
    