body{
    background-color: #4a9bff;
    color: #2263b3;
    font-family: "Inika", serif;
    text-align: center;
}

.admin-user-info-container {
    background: whitesmoke;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 50px;
}